* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.box {
    height: 200px;
    border: 2px #333 solid;
    margin-bottom: 20px;
}

.next {
    background: rgb(175, 172, 172);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}