/*  Es 1 */
.ex-1-square{
    transition: background-color 5s;
}
.ex-1-square:hover{
    background-color: red;
}

/*  Es 2 */
.ex-2-square{
    transition: width 10s;
}

.ex-2-square:active{
    width: 100%;
}

/*  Es 3 */
.ex-3-square{
    transition: border-radius 4s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/*  Es 4 */
.ex-4-square{
    transition: opacity 4s;
}
.ex-4-square:hover{
    opacity: 0%;
}
/*  Es 5 */
.ex-5-square{
    transition:all 4s;
}
.ex-5-square:hover{
    width: 150px;
    height: 150px;
}
.ex-5-square:active{
    width: 30px;
    height: 30px;
}

/*  Es 6 */
.ex-6-img{
    transition:all 1s;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}

/*  Es 7 */
.ex-7-img{
    transition:all 5s;
}
.ex-7-img:hover{
    transition:all 5s;
    filter: grayscale(100%);
    border-radius: 20px;
    width: 600px;
}

/*  Es 8 */
.ex-8-img{
    transition:all 5s;
}
.ex-8-img:hover{
    border-radius: 20px;
    filter: drop-shadow(10px 10px) blur(2px);
}

/*  Es 9 */
.ex-9-img{
    transition:all 5s;
}
.ex-9-img:hover{
    border-radius: 20px;
    filter:saturate(0.5) hue-rotate(90deg);
    transform: scale(1.5);

}

/*  Es 10 */
.ex-10-icon {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
}
.ex-10-icon:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*  Es 11 */
.ex-11-icon {
    overflow: hidden;
    transition-duration: 0.6s;
    transition-property: transform;
}
.ex-11-icon:hover {
    transition-duration: 2s;
    transform: rotate(360deg);
    -webkit-transform: rotate(270deg);
}

/*  Es 12 */

.ex-12-button:hover .ex-12-bottom-white {
    animation: sposta 5s linear;
}
@keyframes sposta {
    0% {
        right: 20%;
    }
    
    50% {
        right: 50%;

    }
    
    100% {
        left: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: giro-alto 2s linear;
}
@keyframes giro-alto {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: giro-intero-top 4s linear;
     
}
@keyframes giro-intero-top {
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: 90%;
        top: -10px;
    }
    45% {
        left: 90%;
        top: 100%;
    }
    65% {
        left: 0;
        top: 100%;
    }
    85% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
    
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: giro-intero-bottom 4s linear;
}
@keyframes giro-intero-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    20% {
        right: 90%;
        bottom: -10px;
    }
    45% {
        right: 90%;
        bottom: 100%;
    }
    65% {
        right: 0;
        bottom: 100%;
    }
    85% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
