* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.output2{
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 8 - 30px);
    margin: 10px;
    height: 100px;
    background: teal;
}
.box-black{
    background: black;
    color: #fff;
}

.box-red{
    background: red;
}
